[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Chrome
Name=Chrome
Comment[en_AU]=
Comment=
