"*":
  "atom-beautify":
    general:
      _analyticsUserId: "aa570d88-cd6e-4edd-9ff1-3b9f9c7ee8a9"
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    invisibles: {}
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
